  @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    max-width: 1440px;
    box-sizing: border-box; /*Opera/IE 8+ */
    -moz-box-sizing: border-box; /* Firefox, autres Gecko */
    -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
   /* box-sizing est appliqué à tous les éléments */
   scroll-behavior: smooth;
   }

body {
    margin: 0 0;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

title {
    display: none;
}

/*====Header part====*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    margin: 10px 0px 0px 60px;
    width: 6%;
}

#nav {
    text-align: right;
}

#nav a:link, a:visited {
    color: black;
    text-decoration: none;
}

#nav a:hover {
    color: #0065FC;
}

#nav ul {
    margin-top: 0px;
    list-style-type: none;
}

#nav li {
    position: relative;
    padding: 2px 5px;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-right: 50px;
    border-top: 4px solid transparent;
}

#nav li::after {
    transition: width .250s linear;
    content: '';
    position: absolute;
    height: 4px;
    background : #0065FC;
    top: -4px;
    left: -10%;
    width: 0;
}

#nav li:hover::after {
    width: 115%;
}

/*====Researchbar part====*/

#littleinfo {
    padding-left: 16px;
}

#littleinfo h4 {
    margin-bottom: 0px;
    padding-left: 30px; 
}

#littleinfo h6 {
    margin: 10px 0px;
    padding-left: 30px;
    font-weight: 100;
}

#littleinforesearch {
    display: flex;
    height: 35px;
    flex-direction: row;
    padding: 0 24px;
}

#littleinforesearch .icon {
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    font-size: 12px;
}

#littleinfo input {
    border: 1px solid #F2F2F2;
    border-left: 0;
    border-right: 0;
    padding-left: 8px;
}

#littleinfo input::placeholder {
    color: black;
    font-weight: bold;
}

#littleinfo button {
    background-color: #0065FC;
    color: white;
    border: none;
    padding: 0 12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
}

#iconSmartphone {
    display: none;
}

/*====filter part====*/

#filter {
    padding-top: 10px;
    padding-left: 16px;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: row;
}

#filterbar {
    display: flex;
    align-items: flex-end;
    padding-left: 20px;
    margin-bottom: 0;
}

#filter h5 {
    padding: 10px 10px 10px 30px;
    margin: 0 0;
    font-size: medium;
    
}

#filterbar li div {
    width: 35px;
    height: 35px;
    background-color: #DEEBFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 10px;
}

#filterbar li {
    display: flex;
    align-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    padding: 0 16px;
    padding-left: 0px;
    margin-right: 16px;
    border-left: 0;
    height: 35px;
    border-radius: 20px 20px 20px 20px;
    font-weight: bold;
}

#filterbar li:hover {
    background-color: #F2F2F2;
    color: #0065FC;
}

.info {
    display: flex;
    align-items: center;
    align-content: center;
    padding-left: 42px;
}

.info h6 {
    font-weight: 100;
    font-size: 13px;
}

#infoimg {
    width: 18px;
    height: 18px;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 8px;
    font-size: 12px;
}

/*====lodging part====*/

#lodging {
    display: flex;
    padding: 0 42px;
}

.menu {
    display: block;
    background-color: #F2F2F2;
    border: 10px solid #F2F2F2;
    border-radius: 3%;
    width: 70%;
    height: 650px;
    padding: 24px 0 24px 18px;
}

#menulist {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
}

.menuitems {
    border: 6px solid white;
    background-color: white;
    width: calc(33% - 26px);
    height: 210px;
    margin-right: 28px;
    margin-bottom: 28px;
    padding: 0px 0px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.menuItemsImg {
    width: 100%;
    height: 65%;
}

.menuItemsImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menuItemsInfo{
    padding-left: 8px;
    padding-top: 8px;
}

.menuItemsInfo a:link {
    text-decoration: none;
}

.menuItemsInfo h5 {
    font-weight: 100;

}

#menulist h4 {
    display: flex;
    margin: 0 0;
    padding-bottom: 4px;
}

#menulist h5 {
    display: flex;
    margin: 0 0;
}

.starRating:before {
    color: #0065FC;
}

.starRating a:link, .starRating a:visited {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: stretch;
    position: absolute;
    padding: 6px 8px; 
    color: #0065FC;
    font-size: 12px;
}

.greyStar {
    color: #F2F2F2 !important;
}

/*====mostpopular part====*/

#mostPopularPart {
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
}

#mostPopularTitle {
    display: flex;
    flex-direction: row;
    margin: 30px 18px 10px 18px;
}

#mostPopularIcon {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    padding-left: 0px;
    margin: 0 18px 10px 18px;
    font-size: 20px;
}

.asidemenu {
    display: block;
    align-items: center;
    align-content: center;
    background-color: #F2F2F2;
    border: 10px solid #F2F2F2;
    border-radius: 3%;
    width: 30%;
    height: 650px;
    margin-left: 40px;
}

#sidelist {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px 18px;
    margin: 0 0;
}

.sidelistitems {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    border: 6px solid white;
    background-color: white;
    width: 360px;
    height: 160px;
    margin: 14px 0px;
    padding: 0px 0px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.sideItemsImg {
    display: flex;
    align-self: flex-start;
    width: 140px;
    height: 60px;
}

.sideItemsImg img {
    width: 138px;
    height: 160px;
    object-fit: cover;
    position: absolute;
}

.sideItemsInfo {
    display: flex;
    border: 1px solid white;
    width: 60%;
    flex-direction: column;
    padding: 10px 14px;
    background-color: white;
    align-self: flex-start;
    position: relative;
}

.sideItemsInfo a:link{
    text-decoration: none;
}

.sideItemsInfo h4 {
    display: flex;
    margin: 0 0;
    padding-bottom: 10px;
}

.sideItemsInfo h5 {
    display: flex;
    margin: 0 0;
    padding-bottom: 10px;
    font-weight: 100;
}

.sideStarRaiting a:link, .sideStarRaiting a:visited {
    display: flex;
    width: 100%;
    align-self: flex-end;
    justify-content: center;
    position: absolute;
    padding: 8px 186px;
    color: #0065FC;
    font-size: 12px;
}

.sideGreyStar {
    color: #F2F2F2 !important;
}

/*====activity part====*/

#activityTitle {
    padding: 0 42px;
    padding-top: 30px;
    margin: 0 0;
    padding-bottom: 0px;
}

#activity {
    display: flex;
    width: 100%;
    padding: 0 42px;
    margin-bottom: 32px;
}

#leftActivityList {
    display: flex;
    list-style-type: none;
    width: 50%;
    margin-top: 0;
    margin-right: 48px;
    padding-left: 0;
}

#rightActivityList {
    display: flex;
    list-style-type: none;
    width: 50%;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-top: 0;
    padding-left: 0;
}

.activitySubContainer {
    width: 50%;
    margin-left: 32px;
}

.activityItemImg {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

.activityItemImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.activityItemInfo {
    display: flex;
    width: 100%;
    height: 12%;
    margin-bottom: 0px;
    padding: 0 18px 20px 18px;
}

.activityItemInfo a:link {
    text-decoration: none;
}

.largeActivityItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 50%;
    height: 460px;
    margin-right: 16px;
    padding: 0 0 4px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.mediumActivityItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    background-color: white;
    height: 246px;
    padding: 0 0 36px;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.smallestActivityItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-end;
    justify-content: flex-end;
    background-color: white;
    height: 180px;
    margin-top: 32px;
    padding: 0 0 36px;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.smallActivityItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    background-color: white;
    height: 212px;
    margin-bottom: 32px;
    padding: 0 0 36px;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

.activityItem {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: flex-end;
    background-color: white;
    height: 214px;
    margin: 10px 0px;
    padding: 0 0 40px;
    border-radius: 20px;
    overflow: hidden;
    background-size: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 6px;
}

/*====footer part====*/

footer {
    display: flex;
    background-color: #F2F2F2;
}

.footerpart {
    width: 33%;
    margin-left: 30px;
}

.footerpart a:link {
    text-decoration: none;
}

.footerpart h5 {
    margin: 28px 0 0;
}

.footerpart h6 {
    font-weight: 100;
    margin: 12px 0;
}


/*====media queries====*/


@media screen and (min-width: 320px) and (max-width: 768px)
{
    /*====Header====*/

    body {
        margin: 0;
    }

    header {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #logo {
        display: flex;
        align-self: center;
        width: 25%;
        margin: 48px 0 0 36px;
    }

    #nav {
        width: 100%;
        height: 50%;
        text-align: center;
    }

    #nav ul {
        padding: 0 0;
        border-bottom: 4px solid #F2F2F2;
    }

    #nav li {
        width: 35%;
        font-size: large;
        margin: 0px 28px;
        padding-bottom: 10px;
    }

    #nav li::after {
        transition: width .250s linear;
        content: '';
        position: absolute;
        height: 4px;
        background : #0065FC;
        top: 80px;
        left: -25%;
        width: 0;
    }

    #nav li:hover::after {
        width: 140%;
        padding-right: 10px;
    }

    /*====littleinfo====*/

    #littleinfo {
        padding-left: 0px;
    }

    #littleinfo h4 {
        padding-left: 22px;
        padding-bottom: 6px;
        font-size: 26px;
        width: 90%;
    }

    #littleinfo h6 {
        padding-left: 22px;
        font-weight: 500;
        font-size: 18.5px;
        margin-bottom: 28px;
    }

    /*====research====*/

    #littleinforesearch {
        height: 50px;
        padding: 0 22px;
    }

    #littleinforesearch .icon {
        padding: 0 18px;
    }

    #littleinfo input {
        width: 420px;
    }

    #littleinfo input::placeholder {
        padding-left: 10px;
        font-size: 20px;
    }

    #littleinfo button {
        display: none;
    }

    #iconSmartphone {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065FC;
        color: white;
        padding: 0 18px;
        border-radius: 30%;
        transform: translateX(-12px);
    }

    /*====filter====*/

    #filter {
        display: flex;
        align-content: flex-end;
        flex-direction: column;
        padding-left: 0px;
        padding-top: 28px;
    }
    
    #filterbar {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 8px;
        padding-left: 22px;
    }

    #filter h5 {
        display: flex;
        align-self: flex-start;
        padding: 0px 0 0 22px;
        margin: 0 0 0 0;
        font-size: large;
    }

    #filterbar li div {
        width: 60px;
        height: 60px;
    }

    #filterbar li {
        height: 60px;
        border-radius: 40px 40px 40px 40px;
        margin: 8px 8px;
        margin-left: 0;
    }

    .info {
        font-size: 28px;
        padding-left: 22px;
        width: 95%;
    }

    .info h6 {
        font-weight: 100;
        font-size: 19px;
    }

    #infoimg{
        font-size: 12px;
        margin-bottom: 20px;
        width: 40px;
        height: 26px;
    }

    /*====lodging part====*/

    #lodging {
        padding: 0 0;
        flex-direction: column-reverse;
    }

    .menu {
        width: 100%;
        height: 50%;
        background-color: white;
        border: 0px;
        border-radius: 0;
        padding-left: 22px;
        padding-bottom: 12px;
    }

    #menulist {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    #hebergement {
        font-size: 27px;
    }

    .menuitems {
        width: 95%;
        margin: 0 18px 18px 0px;
        padding: 0 0;
    }

    .menuItemsInfo {
        font-size: 18px;
    }

    /*====mostpopulart part====*/



    #mostPopularPart {
        margin-bottom: 14px;
    }

    #mostPopularTitle {
        font-size: 23px;
    }

    #mostPopularIcon {
        font-size:24px;
    }

    .asidemenu {
        width: 100%;
        margin: 0;
        border-radius: 0;
        height: 665px;
    }

    .sidelistitems {
        margin: 9px 0;
        width: 100%;
    }

    .sideItemsInfo {
        font-size: 18px;
    }

    /*====activity part====*/

    #activityTitle {
        padding: 0 22px;
        padding-bottom: 10px;
        font-size: 22px;
    }

    #activity {
        flex-direction: column;
        padding: 0 22px;
    }

    #leftActivityList {
        width: 100%;
        flex-direction: column;
        margin-right: 0;
    }

    #rightActivityList {
        width: 100%;
        flex-direction: column;
    }

    .activitySubContainer {
        width: 100%;
        margin-left: 0;
        margin-bottom: 22px;
    }

    .largeActivityItem {
        width: 100%;
        height: 180px;
        margin-bottom: 22px;
        padding-bottom: 38px;
    }

    .mediumActivityItem {
        height: 180px;
        padding-bottom: 38px;
    }

    .smallestActivityItem {
        margin-top: 22px;
        height: 180px;
        padding-bottom: 38px;
    }

    .smallActivityItem {
        height: 180px;
        padding-bottom: 38px;
        margin-bottom: 22px;
    }

    .activityItem {
        margin-top: 0;
        height: 180px;
        padding-bottom: 38px;
    }

    /*====footer====*/

    footer {
        flex-direction: column;
    }

    .footerpart {
        width: 90%;
        margin-left: 22px;
    }

    .footerpart h5 {
        font-size: 20px;
        margin-top: 64px;
        margin-bottom: 28px;
    }

    .footerpart h6 {
        font-size: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 992px)
{
    /*====header====*/

    #nav li::after {
        left: -25%;
    }

    #nav li:hover::after {
        width: 140%;
    }

    /*====littleinfo====*/

    #littleinfo h4 {
        width: 60%;
    }

    /*====research====*/

    #littleinfo input {
        width: 250px;
    }

    #littleinfo button {
        display: block;
        background-color: #0065FC;
        color: white;
        border: none;
        padding: 0 12px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bold;
    }

    #iconSmartphone {
        display: none;
    }

    /*====filter====*/

    #filter {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }

    #filterbar li div {
        width: 40px;
        height: 40px;
    }

    #filterbar li {
        height: 40px;
    }

    #filter h5 {
        display: flex;
        align-self: flex-start;
        margin: 0px 0 0 22px;
        padding: 0 0;
    }

    /*====info====*/

    .info h6 {
        margin-top: 36px;
    }

    #infoimg {
        margin-bottom: 8px;
        font-size: 14px;
        width: 20px;
        height: 20px;
    }

    /*====lodging====*/

    .menu {
        margin: 30px 0 0 18px;
        width: 95%;
        height: 50%;
        background-color: #F2F2F2;
        border-radius: 3%;
    }

    #menulist {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .menuitems {
        width: 46%;
        margin: 0 28px 28px 0;
    }

    /*====mostpopular====*/

    .asidemenu {
        width: 95%;
        border-radius: 3%;
        margin: 0 18px;
    }

    .sideItemsInfo {
        font-size: 22px;
    }

    .sideStarRaiting {
        padding: 8px 284px 8px 0;
    }

    /*====activity====*/

    #activity {
        flex-direction: column;
    }

    #leftActivityList {
        width: 100%;
        flex-direction: row;
    }

    #rightActivityList {
        width: 100%;
        flex-direction: row-reverse;
    }

    .activitySubContainer {
        width: 100%;
    }

    .largeActivityItem {
        width: 100%;
        height: 382px;
        margin-bottom: 22px;
        padding-bottom: 8px;
        margin-right: 0;
    }

    .mediumActivityItem {
        height: 180px;
        padding-bottom: 44px;
        margin-left: 18px;
    }

    .smallestActivityItem {
        margin-top: 22px;
        height: 180px;
        padding-bottom: 44px;
        margin-left: 18px;
    }

    .smallActivityItem {
        height: 180px;
        padding-bottom: 44px;
        margin-bottom: 22px;
        margin-right: 18px;
    }

    .activityItem {
        margin-top: 0;
        height: 180px;
        padding-bottom: 44px;
        margin-right: 18px;
    }

    /*====footer====*/

    footer {
        flex-direction: row;
    }

    .footerpart {
        width: 100%;
        margin-left: 18px;
    }

}